body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex:1;
}

/* // Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color:#222222 !important;
}


/* Footer */
.f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.f-info-links,.f-info-brand,.f-info-socials{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}
/* index.js */
/* //Card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 15rem !important;
}

.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

#filters{
    display: flex;
      flex-wrap: nowrap; /* Prevent wrapping to next line */
      overflow-x: auto; /* Enable horizontal scrolling */
      will-change: transform;
      white-space: nowrap;
      scrollbar-width: thin; 
      scrollbar-color: #ccc transparent;
      align-items: center;
  }
  /* For Webkit browsers (Chrome, Safari) */
  #filters::-webkit-scrollbar {
      height: 6px; /* Adjust scrollbar height */
  }
  
  #filters::-webkit-scrollbar-thumb {
      background: #888; /* Scrollbar thumb color */
      border-radius: 10px;
  }
  #filter{
    text-align: center;margin-right: 2rem;
    margin-top: 1.5rem;opacity: 0.8;
  }
  #filter:hover{
  opacity: 1;cursor: pointer;
  }
  #filter p{
    font-size: 0.8rem;
  }
  .tax-info{
    display: none;
  }
  .filters-tax-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3rem;
    padding:1rem;
    margin-left: 0rem;
    display: flex;
    align-items: center;
    min-width: 255px;
    
  }
  .active-filter {
      border-bottom: 3px solid #fe424d;
      opacity: 1 !important;
  }
  
  @media (max-width:600px){

    .row{
        margin: 0.3rem !important;
    }
    
    .filters-tax-container {
        flex-direction: column;
        align-items: stretch;
      }
      
      .tax-toggle {
        width: 100%;
        margin-top: 1rem;
        /* order: 1; */
        justify-content:space-around;
        
      }

      .card-img-top{
        height: 20rem !important;
    }
  }


/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
    gap: 1rem;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}